<div class="box boxMessages">

  <div class="container">
    <h3>Important Messages</h3>
    <ul *ngFor="let currentMsg of currentImportantMsg">
      <li> {{currentMsg.sender}} - {{currentMsg.msg}}</li>

    </ul>
  </div>
</div>
