<div class="allMessages">

    <div class="container">
        <h3>All Messages</h3>
        <ul *ngFor="let currentMsg of currentAllMessages">
            <li>{{currentMsg.sender}} -  {{currentMsg.msg}} </li>
        </ul>
    </div>

</div>
