<div class="container">

  <div class="row">
    <div class="col-4">
      
      <app-messages [Sender]="'Alpha'"></app-messages>
    </div>

    <div class="col-4">
      
      <app-messages [Sender]="'Beta'"></app-messages>
    </div>

    <div class="col-4">
      
      <app-messages [Sender]="'Charlie'"></app-messages>
    </div>
  </div>

  <div class="row">

    <div class="col-6">
      <app-all-messages></app-all-messages>
    </div>

    <div class="col-6">
      <app-important-messages></app-important-messages>
    </div>

  </div>

</div>
