
  <div class="box boxBorder">
    <div class="container">
  
      <h3>{{Sender}} Messages</h3>
  
      <form [formGroup]="messageForm">
        <div class="form-group">
          <label for="message">Message</label>
          <input type="text" class="form-control" formControlName="strangerMessage" name="stranger">
        </div>
  
        <div class="form-check">
          <input type="checkbox" class="form-check-input" formControlName="strangerCheckBox">
          <label class="form-check-label" for="exampleCheck1">Is important message</label>
        </div>
  
        <button type="submit" class="btn btn-primary sendButton"
                (click)="sendMessage()">Send</button>
  
      </form>
    {{strangerMessage?.value}}
    </div>
  </div>
  
