/* You can add global styles to this file, and also import other style files */


.box {
    margin-top: 30px;
}

.boxBorder {
    border: solid 2px black;
    
}

h3 {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid black;

}

.sendButton {
    margin: 10px 0;
}